.city-location-style {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.city-style {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
}

.date-style {
  font-weight: lighter;
  font-size: 1.2rem;
  padding-bottom: 25px;
}

.city-location-style,
.date-style {
  color: #fff;
}

@media (min-width: 768px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .city-location-style {
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
  }

  .date-style {
    font-size: 1.5rem;
    font-weight: lighter;
    margin-top: 0.5rem;
  }
}
