:root {
  background: linear-gradient(180deg, #8c8bfd 0%, #bfd6f8 50%, #f4a06e 100%);
  font-family: Arial, Helvetica, sans-serif;
}

.days-city {
  color: rgb(255, 255, 255);
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.days {
  font-weight: bold;
}

.city {
  font-weight: lighter;
}

.img-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  max-width: 100%;
  max-height: 100%;
}

.day-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 90px / 100px;
  width: 40%;
  height: 230px;
  margin: 3rem auto;
  gap: 1rem;
}

.degree {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  gap: 9rem;
}

.date {
  color: black;
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    padding-top: 2rem;
  }

  .days-city {
    text-align: center;
    font-size: 3rem;
    padding-top: 5%;
  }

  .img-icons {
    height: 50%;
    width: 700%;
    max-width: 100%;
    max-height: 100%;
  }

  .day-box {
    display: flex;
    flex-direction: colum;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 430% / 300% / 200%;
    width: 150px;
    height: 300px;
    flex-shrink: 0;
    margin: 3rem auto;
  }
}
