.summary-style {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
  color: white;
  border-radius: 15px;
  padding: 1.5rem;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  margin-bottom: 1rem;
  padding: 10px;
}

.summary-style>p {
  font-size: 1rem;
  padding-top: 10px;
}

.tendancy {
  position: relative;
  color: #ffffff;
  padding: 0.5rem;
  text-align: left;
  border-radius: 12px;
  z-index: 1;
  font-size: 1.2rem;
}

.tendancy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(112, 150, 188, 0.33);
  border-radius: 12px;
  z-index: -1;

}
