.today-weather-style {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
  color: white;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.today-icon {
  width: 50%;
  height: none;
}

.title-style {
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: rgba(112, 150, 188, 0.33);
  border-radius: 12px;
  width: 60%;
}

.title-style,
.title-style::before {
  text-align: left;
}

.current-time {
  font-size: 2.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .welcome-page-style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .today-weather-style {
    order: 1;
    max-width: 400px;
    width: 525px;
    height: auto;
    max-height: 400px;
    text-align: center;
  }

  .current-time {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-temperature {
    font-size: 1.2rem;
  }

  .today-icon {
    width: 80%;
    margin-bottom: 10px;
  }
}
