.weather-box {
  /* background-color: rgba(255, 255, 255, 0.2); */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
  border-radius: 15px;
  padding: 1rem;
  width: 80%;
  max-width: 300px;
  height: auto;
  max-height: 400px;
  gap: 2rem;

  /* transition: all 0.3s ease-in-out; */
}

/* .weather-box:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
} */

.weather-icon {
  width: 100px;
  height: 100px;
  gap: 3rem;
  /* animation: moveCloud 10s infinite; */
}

/* @keyframes moveCloud {
  0%, 100% {
    transform: translateX(0);
}
50% {
    transform: translateX(10px);
}
} */

.weather-box,
.weather-icon .text-weather-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
}
