.welcome-page-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  min-height: 100vh;
}

@media (min-width: 768px) {

  .welcome-page-style {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  }

  .city-location-style {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .sun-time-style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-column: 1/2;
    grid-row : 2/3;
    width:100%;
    height:100%;
  }

  .sunrise-style, .sunset-style {
    max-height:none;
    max-width: none;
    width : 50%;
    height: 35%;
    margin-left: 50%;
    
  }

  .summary-style {
    grid-column: 2/3;
    grid-row : 2/3;
    padding: 5%;
  }

  .summary-style>p {
    margin:20px;
  }

  .weather-box{
    grid-column: 1/2;
    grid-row: 3/4;
    width:100%;
    height: 100%;
    max-height: none;
    max-width: none;
  }

  .today-weather-style {
    grid-column: 2/3;
    grid-row: 3/4;
    height:100%;
    width:100%;
    max-height: none;
    max-width: none;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .title-style {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .current-time {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .current-temperature {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .today-icon {
    grid-column: 2/3;
    grid-row: 2/4;
  }

  .suntime-box {
    width:100%;
    height: 100%;
    max-width: none;
    margin: 0;
  }

}
